<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqc.demo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".eventbusdemo.EventBusActivity1" />
        <activity android:name=".eventbusdemo.EventBusActivity2" />
        <activity
            android:name=".dataclearreceiverdemo.DataClearReceiverDemoActivity"
            android:label="@string/title_activity_data_clear_receiver_demo" />

        <receiver
            android:name=".dataclearreceiverdemo.DataClearReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gionee.clearData" />
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED" />
                <action android:name="com.android.deskclock.inten.DELETE_ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".callbackdemo.CallBackDemoActivity"
            android:label="CallBackDemo" />
        <activity
            android:name=".surfaceviewdemo.SurfaceViewActivity"
            android:label="@string/title_activity_surface_view_demo" />

        <service
            android:name=".remoteservicedemo.remoteservice"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.hqc.demo.remoteservicedemo" />
            </intent-filter>
        </service>

        <activity android:name=".addAlarmDemo.AddAlarmActivity" />
        <activity android:name=".mediaplayerdemo.MediaDemoActivity" />
        <activity
            android:name=".gesturedemo.GestureActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".sharedpreferencedemo.SharedPreferenceActivity" />
        <activity android:name=".dialogdemo.DialogDemoActivity" />
        <activity
            android:name=".preferencedemo.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".preferencedemo.Settings2Activity"
            android:label="@string/title_activity_settings2" />
        <activity android:name=".startactivitydemo.TestActivity" />

        <receiver
            android:name=".startactivitydemo.StartActivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.demo.START_TEST_ACTIVITY" />
            </intent-filter>
        </receiver>

        <activity android:name=".startactivitydemo.StartActivityDemoActivity" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".remoteservicedemo.ServiceControlActivity" />
        <activity android:name=".recyclerviewdemo.RecyclerViewActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".aidlClient.ShoppingActivity"></activity>
        <activity android:name=".handlerdemo.HandlerActivity" />
    </application>

</manifest>